/* Base styles */
:root {
  --background: linear-gradient(red, yellow);
  --foreground: hsl(0, 0%, 0%);

  --card: rgba(55, 65, 81, 0.08);
  --card-foreground: rgba(17, 24, 39, 0.8);

  --popover: hsl(228, 6%, 16%);
  --popover-foreground: hsla(0, 0%, 100%, 0.541);

  --primary: hsl(222.2, 47.4%, 11.2%);
  --primary-foreground: hsl(210, 40%, 98%);

  --secondary: hsl(210, 40%, 96.1%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

  --muted: hsl(210, 40%, 96.1%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);

  --accent: hsl(210, 40%, 96.1%);
  --accent-foreground: hsl(222.2, 47.4%, 11.2%);

  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(210, 40%, 98%);

  --border: hsl(214.3, 31.8%, 91.4%);
  --input: hsl(214.3, 31.8%, 91.4%);
  --ring: hsl(222.2, 84%, 4.9%);

  --radius: 0.5rem;

  --font-satoshi: "Satoshi", sans-serif;
  --font-overused: "OverusedGrotesk", sans-serif;
}

/* Global styles */
* {
  border-color: var(--border);
  text-decoration: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Font Faces */
@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-SemiBold.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Light.ttf")
    format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi_Complete/TTF/Satoshi-Variable.ttf");
}

/* Selection styles */
::-moz-selection {
  color: #0e0e0c;
  background: #d1d1c7;
}

::selection {
  color: #0e0e0c;
  background: #d1d1c7;
}

/* Media queries */
@media (min-width: 1024px) {
  .lg-hidden {
    display: none;
  }
}
