.label {
    font-size: 0.875rem; /* equivalent to text-sm */
    font-weight: 500; /* equivalent to font-medium */
    line-height: 1.25rem; /* equivalent to leading-none */
  }
  
  .peerDisabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  